In [ ]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
print('Dependencies Imported')

Dependencies Imported

In [ ]:
data = pd.read_csv("COURSEDATASET.csv")

In [ ]:
'''from google.colab import drive
drive.mount('/content/drive')'''

"from google.colab import drive\ndrive.mount('/content/drive')"

In [ ]:
data.head(5)

,course_id,course_title,url,is_paid,price,num_subscribers,num_reviews,num_lectures,level,content_duration,published_timestamp,subject
0,1070968,Ultimate Investment Banking Course,https://www.udemy.com/ultimate-investment-bank...,True,200,2147,23,51,All Levels,1.5,2017-01-18T20:58:58Z,Business Finance
1,1113822,Complete GST Course & Certification - Grow You...,https://www.udemy.com/goods-and-services-tax/,True,75,2792,923,274,All Levels,39.0,2017-03-09T16:34:20Z,Business Finance
2,1006314,Financial Modeling for Business Analysts and C...,https://www.udemy.com/financial-modeling-for-b...,True,45,2174,74,51,Intermediate Level,2.5,2016-12-19T19:26:30Z,Business Finance
3,1210588,Beginner to Pro - Financial Analysis in Excel ...,https://www.udemy.com/complete-excel-finance-c...,True,95,2451,11,36,All Levels,3.0,2017-05-30T20:07:24Z,Business Finance
4,1011058,How To Maximize Your Profits Trading Options,https://www.udemy.com/how-to-maximize-your-pro...,True,200,1276,45,26,Intermediate Level,2.0,2016-12-13T14:57:18Z,Business Finance

In [ ]:
data.columns

Index(['course_id', 'course_title', 'url', 'is_paid', 'price',
       'num_subscribers', 'num_reviews', 'num_lectures', 'level',
       'content_duration', 'published_timestamp', 'subject'],
      dtype='object')

In [ ]:
data.shape

(3678, 12)

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3678 entries, 0 to 3677
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   course_id            3678 non-null   int64
 1   course_title         3678 non-null   object
 2   url                  3678 non-null   object
 3   is_paid              3678 non-null   bool
 4   price                3678 non-null   int64
 5   num_subscribers      3678 non-null   int64
 6   num_reviews          3678 non-null   int64
 7   num_lectures         3678 non-null   int64
 8   level                3678 non-null   object
 9   content_duration     3678 non-null   float64
 10  published_timestamp  3678 non-null   object
 11  subject              3678 non-null   object
dtypes: bool(1), float64(1), int64(5), object(5)
memory usage: 319.8+ KB

In [ ]:
data.isnull().sum()

course_id              0
course_title           0
url                    0
is_paid                0
price                  0
num_subscribers        0
num_reviews            0
num_lectures           0
level                  0
content_duration       0
published_timestamp    0
subject                0
dtype: int64

In [ ]:
data['price'].value_counts()

20     830
50     468
0      310
200    295
40     217
30     166
25     154
95     152
100    133
195    127
35     116
150     88
45      83
75      81
60      75
120     37
55      35
85      31
125     30
65      30
80      29
145     27
70      26
90      19
180     17
115     16
175     13
105     11
190     10
140     10
110      8
135      8
165      6
185      6
170      5
160      4
130      3
155      2
Name: price, dtype: int64

In [ ]:
data['num_reviews'].value_counts()

0       289
1       184
2       166
3       160
4       127
       ...
820       1
655       1
1017      1
848       1
1716      1
Name: num_reviews, Length: 511, dtype: int64

In [ ]:
data['course_title']

0                      Ultimate Investment Banking Course
1       Complete GST Course & Certification - Grow You...
2       Financial Modeling for Business Analysts and C...
3       Beginner to Pro - Financial Analysis in Excel ...
4            How To Maximize Your Profits Trading Options
                              ...
3673    Learn jQuery from Scratch - Master of JavaScri...
3674    How To Design A WordPress Website With No Codi...
3675                        Learn and Build using Polymer
3676    CSS Animations: Create Amazing Effects on Your...
3677    Using MODX CMS to Build Websites: A Beginner's...
Name: course_title, Length: 3678, dtype: object

In [ ]:
data = data[['course_title', 'level', 'subject']]

In [ ]:
data.head(5)

,course_title,level,subject
0,Ultimate Investment Banking Course,All Levels,Business Finance
1,Complete GST Course & Certification - Grow You...,All Levels,Business Finance
2,Financial Modeling for Business Analysts and C...,Intermediate Level,Business Finance
3,Beginner to Pro - Financial Analysis in Excel ...,All Levels,Business Finance
4,How To Maximize Your Profits Trading Options,Intermediate Level,Business Finance

In [ ]:
data['course_title'] = data['course_title'].str.replace(' ',',')
data['course_title'] = data['course_title'].str.replace(',,',',')
data['course_title'] = data['course_title'].str.replace(':','')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
'''data['is_paid'] = data['is_paid'].str.replace(' ',',')
data['is_paid'] = data['is_paid'].str.replace(',,',',')
data['is_paid'] = data['is_paid'].str.replace('_','')
data['is_paid'] = data['is_paid'].str.replace(':','')
data['is_paid'] = data['is_paid'].str.replace('(','')
data['is_paid'] = data['is_paid'].str.replace(')','')'''

"data['is_paid'] = data['is_paid'].str.replace(' ',',')\ndata['is_paid'] = data['is_paid'].str.replace(',,',',')\ndata['is_paid'] = data['is_paid'].str.replace('_','')\ndata['is_paid'] = data['is_paid'].str.replace(':','')\ndata['is_paid'] = data['is_paid'].str.replace('(','')\ndata['is_paid'] = data['is_paid'].str.replace(')','')"

In [ ]:
data.head(5)

,course_title,level,subject
0,"Ultimate,Investment,Banking,Course",All Levels,Business Finance
1,"Complete,GST,Course,&,Certification,-,Grow,You...",All Levels,Business Finance
2,"Financial,Modeling,for,Business,Analysts,and,C...",Intermediate Level,Business Finance
3,"Beginner,to,Pro,-,Financial,Analysis,in,Excel,...",All Levels,Business Finance
4,"How,To,Maximize,Your,Profits,Trading,Options",Intermediate Level,Business Finance

In [ ]:
data['tags'] = data['course_title'] + data['level'] + data['subject']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
data['tags'].iloc[1]

'Complete,GST,Course,&,Certification,-,Grow,Your,CA,PracticeAll LevelsBusiness Finance'

In [ ]:
new_df = data[['course_title', 'tags']]

In [ ]:
new_df.head()

,course_title,tags
0,"Ultimate,Investment,Banking,Course","Ultimate,Investment,Banking,CourseAll LevelsBu..."
1,"Complete,GST,Course,&,Certification,-,Grow,You...","Complete,GST,Course,&,Certification,-,Grow,You..."
2,"Financial,Modeling,for,Business,Analysts,and,C...","Financial,Modeling,for,Business,Analysts,and,C..."
3,"Beginner,to,Pro,-,Financial,Analysis,in,Excel,...","Beginner,to,Pro,-,Financial,Analysis,in,Excel,..."
4,"How,To,Maximize,Your,Profits,Trading,Options","How,To,Maximize,Your,Profits,Trading,OptionsIn..."

In [ ]:
new_df['tags'] = data['tags'].str.replace(',',' ')

new_df['course_title'] = data['course_title'].str.replace(',',' ')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
new_df['tags'] = new_df['tags'].apply(lambda x: x.lower())

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
new_df.head()

,course_title,tags
0,Ultimate Investment Banking Course,ultimate investment banking courseall levelsbu...
1,Complete GST Course & Certification - Grow You...,complete gst course & certification - grow you...
2,Financial Modeling for Business Analysts and C...,financial modeling for business analysts and c...
3,Beginner to Pro - Financial Analysis in Excel ...,beginner to pro - financial analysis in excel ...
4,How To Maximize Your Profits Trading Options,how to maximize your profits trading optionsin...

In [ ]:
new_df.iloc[1, 0]

'Complete GST Course & Certification - Grow Your CA Practice'

In [ ]:
new_df.shape

(3678, 2)

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

cv = CountVectorizer(max_features=5000,stop_words='english')
vectors = cv.fit_transform(new_df['tags']).toarray()

In [ ]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

def stem(text):
    y=[]
    
    for i in text.split():
        y.append(ps.stem(i))
    
    return " ".join(y)

In [ ]:
new_df['tags'] = new_df['tags'].apply(stem)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
data.rename(columns = {'course_title': 'course_title'}, inplace = True)

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

similarity = cosine_similarity(vectors)

In [ ]:
def recommend(course):
    course_index = new_df[new_df['course_title'] == course].index[0]
    distances = similarity[course_index]
    course_list = sorted(list(enumerate(distances)),reverse=True, key=lambda x:x[1])[1:7]
    
    for i in course_list:
        print(data.iloc[i[0]].course_title)

In [ ]:
recommend('Ultimate Investment Banking Course')

The,Investment,Banking,Recruitment,Series
The,Complete,Investment,Banking,Course,2017
Investment,Banking,How,to,Land,a,Job,on,Wall,Street
Business,Banking,101
Triple,P,Trading,Course
Intro,to,Investment,Banking,M&A,IPO,Modeling,+,Free,Book